<div class="main_title">
  <h1>CalcuLog</h1>
</div>
<div class="subtitle">
  <h2>Sientete libre de explorar cada calculadora disponible!</h2>
</div>

<div class="grid">
  <div class="calculator_container">
    <app-calculator></app-calculator>
  </div>
  <div class="calculator_container">
    <app-sub-calculator></app-sub-calculator>
  </div>
  <div class="calculator_container">
    <app-multiply-calculator></app-multiply-calculator>
  </div>
  <div class="calculator_container">
    <app-divide-calculator></app-divide-calculator>
  </div>
</div>